*.exe*
**/obj/*
*.suo
*.pdb
Utils/Interop.IWshRuntimeLibrary.dll
Code and Projects/**/Debug/*
*.vcxproj.user
**/packages/*
Setup.*sdf
Code and Projects/ConfigGeneral.cpp
Code and Projects/ConfigDisks.cpp
